flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ad180e434652dd7",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://141.144.205.242:12686/milo",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "09a898bdbede2b92",
        "type": "github-webhook",
        "z": "f6f2187d.f17ca8",
        "path": "/low-red/webhook",
        "name": "",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "bf3805dd1b0ff4c5"
            ]
        ]
    },
    {
        "id": "bf3805dd1b0ff4c5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "61b65b8325a14ad2",
        "type": "OpcUa-Client",
        "z": "f6f2187d.f17ca8",
        "endpoint": "7ad180e434652dd7",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "6f820a4259f28914"
            ]
        ]
    },
    {
        "id": "c04638157a6505cf",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": false,
        "onceDelay": "1",
        "topic": "ns=2;s=ObjectTypes/ConveyorType.RunningSpeed",
        "payload": "",
        "payloadType": "date",
        "x": 230,
        "y": 420,
        "wires": [
            [
                "61b65b8325a14ad2"
            ]
        ]
    },
    {
        "id": "6f820a4259f28914",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 850,
        "y": 440,
        "wires": []
    }
]