flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "1fa0b22.ea7114e",
        "type": "tab",
        "label": "EVENTS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e365e31ec85d6f6f",
        "type": "tab",
        "label": "Flow 2",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ea2cd3ac.c1e01",
        "type": "tab",
        "label": "OPC Foundation A&E"
    },
    {
        "id": "970b1295.07642",
        "type": "tab",
        "label": "Node & event type selected"
    },
    {
        "id": "4d24eae5.3b9b24",
        "type": "tab",
        "label": "METHOD TESTS",
        "disabled": false,
        "info": ""
    },
    {
        "id": "7ad180e434652dd7",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://141.144.205.242:12686/milo",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "c279f3b14eadf450",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "25f45fce318849db",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "d23d89d2fc712f18",
        "type": "ui_group",
        "name": "Default",
        "tab": "c279f3b14eadf450",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "16baa2e9e2a26a5f",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://213.93.215.205:12020/OPCUA-IoTGateway",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "2e492080.82aa3",
        "type": "OpcUa-Endpoint",
        "endpoint": "",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "f4ca709e.f1293",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "ec543e54.782ad",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://localhost:62544/Quickstarts/AlarmConditionServer",
        "login": false
    },
    {
        "id": "cd011dd0.e86e",
        "type": "OpcUa-Endpoint",
        "endpoint": "opc.tcp://H7Q8Q13.mshome.net:53530/OPCUA/SimulationServer",
        "secpol": "None",
        "secmode": "None",
        "login": false
    },
    {
        "id": "09a898bdbede2b92",
        "type": "github-webhook",
        "z": "f6f2187d.f17ca8",
        "path": "/low-red/webhook",
        "name": "",
        "x": 280,
        "y": 220,
        "wires": [
            [
                "bf3805dd1b0ff4c5"
            ]
        ]
    },
    {
        "id": "bf3805dd1b0ff4c5",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "61b65b8325a14ad2",
        "type": "OpcUa-Client",
        "z": "f6f2187d.f17ca8",
        "endpoint": "7ad180e434652dd7",
        "action": "subscribe",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 520,
        "y": 420,
        "wires": [
            [
                "4ff3b0cb703a3693",
                "a2f943847003f7ad"
            ]
        ]
    },
    {
        "id": "c04638157a6505cf",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "ns=2;s=ObjectTypes/ConveyorType.RunningSpeed",
        "payload": "",
        "payloadType": "date",
        "x": 150,
        "y": 420,
        "wires": [
            [
                "61b65b8325a14ad2"
            ]
        ]
    },
    {
        "id": "4ff3b0cb703a3693",
        "type": "ui_chart",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d23d89d2fc712f18",
        "order": 0,
        "width": 0,
        "height": 0,
        "label": "chart",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": true,
        "ymin": "0",
        "ymax": "1",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 870,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "a2f943847003f7ad",
        "type": "ui_text",
        "z": "f6f2187d.f17ca8",
        "group": "d23d89d2fc712f18",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 870,
        "y": 480,
        "wires": []
    },
    {
        "id": "01d25f9f83c0b571",
        "type": "OpcUa-Client",
        "z": "f6f2187d.f17ca8",
        "endpoint": "16baa2e9e2a26a5f",
        "action": "events",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 540,
        "y": 620,
        "wires": [
            [
                "246153491f4d8fec"
            ]
        ]
    },
    {
        "id": "246153491f4d8fec",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 600,
        "wires": []
    },
    {
        "id": "251b6c7ed0b54211",
        "type": "OpcUa-Event",
        "z": "f6f2187d.f17ca8",
        "root": "i=2253",
        "eventtype": "i=11436",
        "name": "",
        "x": 300,
        "y": 560,
        "wires": [
            [
                "01d25f9f83c0b571"
            ]
        ]
    },
    {
        "id": "0af4d691aed50a2c",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "num",
        "x": 90,
        "y": 520,
        "wires": [
            [
                "251b6c7ed0b54211"
            ]
        ]
    },
    {
        "id": "e19b23c712be6edd",
        "type": "OpcUa-Method",
        "z": "f6f2187d.f17ca8",
        "endpoint": "16baa2e9e2a26a5f",
        "objectId": "ns=2;s=controller/0",
        "methodId": "ns=2;s=controller/0/remote-control(x)",
        "name": "",
        "inputArguments": [],
        "outputArguments": [],
        "arg0name": "control command",
        "arg0type": "String",
        "arg0typeid": "",
        "arg0value": "#TE",
        "arg1name": "",
        "arg1type": "",
        "arg1typeid": "",
        "arg1value": "",
        "arg2name": "",
        "arg2type": "",
        "arg2typeid": "",
        "arg2value": "",
        "out0name": "",
        "out0type": "",
        "out0typeid": "",
        "out0value": "",
        "x": 440,
        "y": 740,
        "wires": [
            []
        ]
    },
    {
        "id": "42835d2ff7998c8b",
        "type": "ui_button",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "group": "d23d89d2fc712f18",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Fire test event",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 140,
        "y": 640,
        "wires": [
            [
                "e19b23c712be6edd"
            ]
        ]
    },
    {
        "id": "a0f5e5a3.f043e8",
        "type": "OpcUa-Event",
        "z": "1fa0b22.ea7114e",
        "root": "i=2253",
        "eventtype": "i=2041",
        "name": "",
        "x": 440,
        "y": 160,
        "wires": [
            [
                "9d0a5ec1.e663b"
            ]
        ]
    },
    {
        "id": "9d0a5ec1.e663b",
        "type": "OpcUa-Client",
        "z": "1fa0b22.ea7114e",
        "endpoint": "f4ca709e.f1293",
        "action": "events",
        "deadbandtype": "a",
        "deadbandvalue": 1,
        "time": 10,
        "timeUnit": "s",
        "certificate": "n",
        "localfile": "",
        "localkeyfile": "",
        "securitymode": "None",
        "securitypolicy": "None",
        "folderName4PKI": "",
        "name": "",
        "x": 680,
        "y": 160,
        "wires": [
            [
                "62b0e35d.fcad8c"
            ]
        ]
    },
    {
        "id": "c026a47f.b45cc8",
        "type": "inject",
        "z": "1fa0b22.ea7114e",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "10",
        "payload": "",
        "payloadType": "num",
        "x": 230,
        "y": 160,
        "wires": [
            [
                "a0f5e5a3.f043e8"
            ]
        ]
    },
    {
        "id": "62b0e35d.fcad8c",
        "type": "debug",
        "z": "1fa0b22.ea7114e",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 840,
        "y": 160,
        "wires": []
    },
    {
        "id": "3ec80ecf.a0d7a2",
        "type": "OpcUa-Client",
        "z": "ea2cd3ac.c1e01",
        "endpoint": "ec543e54.782ad",
        "action": "events",
        "deadbandvalue": "",
        "time": "1000",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "Alarms & Events",
        "x": 382.9999542236328,
        "y": 157.88888549804688,
        "wires": [
            [
                "805b026b.11cbd",
                "fcd46383.8f35f"
            ]
        ]
    },
    {
        "id": "805b026b.11cbd",
        "type": "debug",
        "z": "ea2cd3ac.c1e01",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 558.9999847412109,
        "y": 157.88888549804688,
        "wires": []
    },
    {
        "id": "db59244f.d54628",
        "type": "OpcUa-Event",
        "z": "ea2cd3ac.c1e01",
        "root": "i=2253",
        "eventtype": "i=2041",
        "name": "All events from server",
        "x": 222.99998474121094,
        "y": 102.88888549804688,
        "wires": [
            [
                "3ec80ecf.a0d7a2"
            ]
        ]
    },
    {
        "id": "471ae056.ea012",
        "type": "inject",
        "z": "ea2cd3ac.c1e01",
        "name": "Test (500ms)",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "500",
        "payloadType": "num",
        "x": 124,
        "y": 38.888916015625,
        "wires": [
            [
                "db59244f.d54628"
            ]
        ]
    },
    {
        "id": "fcd46383.8f35f",
        "type": "function",
        "z": "ea2cd3ac.c1e01",
        "name": "Format",
        "func": "var newmsg={};\nnewmsg.topic=\"\";\nnewmsg.payload=\"\";\n\nif (msg.EventId) {\n    //newmsg.payload=\"EVENTID\";\n\t//newmsg.payload=msg.EventId.toString('utf8');;\n}\nif (msg.EventType) {\n    //newmsg.topic=newmsg.topic+\"EventType\";\n    //newmsg.payload=\"EVENTTYPE\";\n\t//newmsg.payload=newmsg.payload+\"|\"+msg.EventType;\n}\nif (msg.SourceNode) {\n    //newmsg.topic=newmsg.topic+\"SourceNode\";\n\t//newmsg.payload=msg.payload+\"|\"+msg.SourceNode;\n}\nif (msg.SourceName) {\n    // Do not show internal alarm state changes e.q. rising events\n    //if (msg.SourceName==\"Internal\") return; \n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SourceName;\n}\nif (msg.Time) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Time\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Time;\n}\nif (msg.ReceiveTime) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ReceiveTime\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ReceiveTime;\n}\nif (msg.Message) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Message\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Message;\n}\nif (msg.Severity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Severity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Severity;\n}\n\n// ConditionType\nif (msg.ConditionClassId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassId;\n}\nif (msg.ConditionClassName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassNameName;\n}\nif (msg.ConditionName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionName;\n}\nif (msg.BranchId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"BranchId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.BranchId;\n}\nif (msg.Retain) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Retain\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Retain;\n}\nif (msg.EnabledState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"EnabledState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.EnabledState;\n}\nif (msg.Quality) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Quality\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Quality;\n}\nif (msg.LastSeverity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LastSeverity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LastSeverity;\n}\nif (msg.Comment) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Comment\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Comment;\n}\nif (msg.ClientUserId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ClientUserId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ClientUserId;\n}\n\n// AcknowledgeConditionType\nif (msg.AckedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"AckedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.AckedState;\n}\nif (msg.ConfirmedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConfirmedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConfirmedState;\n}\n\n// AlarmConditionType\nif (msg.ActiveState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ActiveState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ActiveState;\n}\nif (msg.InputNode) {\n    newmsg.topic=newmsg.topic+\"|\"+\"InputNode\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.InputNode;\n}\nif (msg.SupressedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"SupressedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SupressedState;\n}\n\n// Limits\nif (msg.HighHighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighHighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighHighLimit;\n}\nif (msg.HighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighLimit;\n}\nif (msg.LowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLimit;\n}\nif (msg.LowLowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLowLimit;\n}\nif (msg.Value) {\n        newmsg.topic=newmsg.topic+\"|\"+\"Value\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Value;\n}\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 418.5624694824219,
        "y": 222.88888549804688,
        "wires": [
            [
                "e66ada33.0e1038"
            ]
        ]
    },
    {
        "id": "e66ada33.0e1038",
        "type": "debug",
        "z": "ea2cd3ac.c1e01",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 576.5624847412109,
        "y": 220.88888549804688,
        "wires": []
    },
    {
        "id": "290b1d93.cb8c72",
        "type": "OpcUa-Client",
        "z": "970b1295.07642",
        "endpoint": "ec543e54.782ad",
        "action": "events",
        "deadbandvalue": "",
        "time": "1000",
        "localfile": "",
        "localkeyfile": "",
        "folderName4PKI": "",
        "name": "Alarms & Events",
        "x": 414.99993896484375,
        "y": 156.99996948242188,
        "wires": [
            [
                "d9c723ff.df3f5",
                "351f7369.eee4ac"
            ]
        ]
    },
    {
        "id": "d9c723ff.df3f5",
        "type": "debug",
        "z": "970b1295.07642",
        "name": "",
        "active": false,
        "console": "false",
        "complete": "true",
        "x": 590.9999694824219,
        "y": 156.99996948242188,
        "wires": []
    },
    {
        "id": "fd5ebd64.8c97a",
        "type": "OpcUa-Event",
        "z": "970b1295.07642",
        "root": "ns=2;s=0:East/Blue",
        "eventtype": "i=2782",
        "name": "East/Blue Condition events",
        "x": 254.99996948242188,
        "y": 101.99996948242188,
        "wires": [
            [
                "290b1d93.cb8c72"
            ]
        ]
    },
    {
        "id": "22cc3061.b6b31",
        "type": "inject",
        "z": "970b1295.07642",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 135.99998474121094,
        "y": 38,
        "wires": [
            [
                "fd5ebd64.8c97a"
            ]
        ]
    },
    {
        "id": "351f7369.eee4ac",
        "type": "function",
        "z": "970b1295.07642",
        "name": "Format",
        "func": "var newmsg={};\nnewmsg.topic=\"\";\nnewmsg.payload=\"\";\n\nif (msg.EventId) {\n    //newmsg.payload=\"EVENTID\";\n\t//newmsg.payload=msg.EventId.toString('utf8');;\n}\nif (msg.EventType) {\n    //newmsg.topic=newmsg.topic+\"EventType\";\n    //newmsg.payload=\"EVENTTYPE\";\n\t//newmsg.payload=newmsg.payload+\"|\"+msg.EventType;\n}\nif (msg.SourceNode) {\n    //newmsg.topic=newmsg.topic+\"SourceNode\";\n\t//newmsg.payload=msg.payload+\"|\"+msg.SourceNode;\n}\nif (msg.SourceName) {\n    // Do not show internal alarm state changes e.q. rising events\n    //if (msg.SourceName==\"Internal\") return; \n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SourceName;\n}\nif (msg.Time) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Time\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Time;\n}\nif (msg.ReceiveTime) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ReceiveTime\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ReceiveTime;\n}\nif (msg.Message) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Message\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Message;\n}\nif (msg.Severity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Severity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Severity;\n}\n\n// ConditionType\nif (msg.ConditionClassId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassId;\n}\nif (msg.ConditionClassName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionClassName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionClassNameName;\n}\nif (msg.ConditionName) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConditionName\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConditionName;\n}\nif (msg.BranchId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"BranchId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.BranchId;\n}\nif (msg.Retain) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Retain\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Retain;\n}\nif (msg.EnabledState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"EnabledState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.EnabledState;\n}\nif (msg.Quality) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Quality\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Quality;\n}\nif (msg.LastSeverity) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LastSeverity\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LastSeverity;\n}\nif (msg.Comment) {\n    newmsg.topic=newmsg.topic+\"|\"+\"Comment\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Comment;\n}\nif (msg.ClientUserId) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ClientUserId\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ClientUserId;\n}\n\n// AcknowledgeConditionType\nif (msg.AckedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"AckedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.AckedState;\n}\nif (msg.ConfirmedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ConfirmedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ConfirmedState;\n}\n\n// AlarmConditionType\nif (msg.ActiveState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"ActiveState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.ActiveState;\n}\nif (msg.InputNode) {\n    newmsg.topic=newmsg.topic+\"|\"+\"InputNode\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.InputNode;\n}\nif (msg.SupressedState) {\n    newmsg.topic=newmsg.topic+\"|\"+\"SupressedState\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.SupressedState;\n}\n\n// Limits\nif (msg.HighHighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighHighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighHighLimit;\n}\nif (msg.HighLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"HighLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.HighLimit;\n}\nif (msg.LowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLimit;\n}\nif (msg.LowLowLimit) {\n    newmsg.topic=newmsg.topic+\"|\"+\"LowLowLimit\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.LowLowLimit;\n}\nif (msg.Value) {\n        newmsg.topic=newmsg.topic+\"|\"+\"Value\";\n\tnewmsg.payload=newmsg.payload+\"|\"+msg.Value;\n}\n\nreturn newmsg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450.5624542236328,
        "y": 221.99996948242188,
        "wires": [
            [
                "64c15769.b5a378"
            ]
        ]
    },
    {
        "id": "64c15769.b5a378",
        "type": "debug",
        "z": "970b1295.07642",
        "name": "",
        "active": true,
        "console": "false",
        "complete": "payload",
        "x": 608.5624694824219,
        "y": 219.99996948242188,
        "wires": []
    },
    {
        "id": "9b199c7f.82f47",
        "type": "OpcUa-Method",
        "z": "4d24eae5.3b9b24",
        "endpoint": "cd011dd0.e86e",
        "objectId": "ns=5;s=MyDevice",
        "methodId": "ns=5;s=MyMethod",
        "name": "Prosys MyMethod(sin, 3.3)",
        "inputArguments": [],
        "arg0name": "Operator",
        "arg0type": "String",
        "arg0typeid": "",
        "arg0value": "sin",
        "arg1name": "Value",
        "arg1type": "Double",
        "arg1typeid": "",
        "arg1value": "3.3",
        "arg2name": "",
        "arg2type": "",
        "arg2typeid": "",
        "arg2value": "",
        "out0name": "",
        "out0type": "",
        "out0typeid": "",
        "out0value": "",
        "x": 760,
        "y": 120,
        "wires": [
            [
                "aad9fc2a.a94b4"
            ]
        ]
    },
    {
        "id": "2337d4d6.fd29dc",
        "type": "inject",
        "z": "4d24eae5.3b9b24",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test1",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "9b199c7f.82f47"
            ]
        ]
    },
    {
        "id": "aad9fc2a.a94b4",
        "type": "debug",
        "z": "4d24eae5.3b9b24",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 1010,
        "y": 120,
        "wires": []
    },
    {
        "id": "892ea475.154008",
        "type": "function",
        "z": "4d24eae5.3b9b24",
        "name": "pow",
        "func": "msg.objectId=\"ns=5;s=MyDevice\";\nmsg.methodId=\"ns=5;s=MyMethod\";\nmsg.inputArguments=[{dataType: \"String\", value:\"pow\"}, {dataType:\"Double\", value: 3}];\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 450,
        "y": 180,
        "wires": [
            [
                "9b199c7f.82f47"
            ]
        ]
    },
    {
        "id": "4d72774f.c4c9a8",
        "type": "inject",
        "z": "4d24eae5.3b9b24",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "Test2",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 180,
        "wires": [
            [
                "892ea475.154008"
            ]
        ]
    },
    {
        "id": "b55d1c05.9588c",
        "type": "comment",
        "z": "4d24eae5.3b9b24",
        "name": "Call method by node parameters",
        "info": "",
        "x": 410,
        "y": 80,
        "wires": []
    },
    {
        "id": "80ce9863.0c99f8",
        "type": "comment",
        "z": "4d24eae5.3b9b24",
        "name": "Call method by injecting message",
        "info": "",
        "x": 410,
        "y": 220,
        "wires": []
    }
]